img.month-artist-img 
    display block 
    max-width 54%
    border-radius 1rem

div.discography__album
    margin-bottom 3rem

    display grid 
    grid-template-areas: \
        "cover info" \
        "cover songs"
    grid-template-columns 200px auto
    column-gap 1rem

    img.discography__cover 
        grid-area cover
        align-self center
        display inline-block
        width 100%
        border-radius 1rem

    div.discography__album-info
        grid-area info
        h4
            margin-top 0
            margin-bottom 0.5rem

        h5
            margin-top 0
            color gray
            margin-bottom 1rem

    ul.discography__songs-list 
        padding-left 0
        margin-top 0
        margin-bottom 0
        grid-area songs
        li::marker
            content: ''
        