img.page-logo__logo 
    display block 
    max-width 100%

header.page-header 
    padding 0.5rem
    display grid 
    grid-template-columns 56px calc(100% - 56px)
    align-items center
    position sticky 
    top 0 
    z-index 100
    background-color: rgb(9, 9, 11)

    img.page-logo__logo
        background-color whitesmoke
        padding: 0 0.25rem
        border-radius 1rem

nav.page-navigation 
    display flex 
    flex-flow row wrap 
    align-items center 
    justify-content flex-end

    gap 1rem

a.page-navigation__link 
    display inline-block
    color white 
    text-decoration none 
    // transition all 0.1s ease 0s

a.page-navigation__link:hover 
    // transform scale(1.03)
    box-shadow 2px 2px 0 red

a.page-navigation__link.active 
    text-decoration underline

main, footer
    padding 0.5rem

footer.page-footer>p.page-footer__paragraph
    text-align center