table.chart
    border 1px solid white 
    border-collapse collapse

    max-width 77%

    thead.chart__head 
        position sticky 
        top 66px
        background-color rgb(9, 9, 11)

    th.chart__header, td.chart__cell
        border 1px solid white
        text-align left 
        padding 0.25rem